.card {
  max-width: 413px;
  display: block;
  width: 100%;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  cursor: pointer;
}

.card__image:hover {
  opacity: 0.95;
}

.card__contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  max-width: 350px;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 120%;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-image: url(../images/delete_default.svg);
  background-color: transparent;
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/delete_hover.svg);
}

.card__like-button {
  width: 23px;
  height: 20px;
  border: none;
  opacity: 0.4;
  background-image: url(../images/Like_Icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/Red_Like-icon.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 100%;
  }
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    max-width: 260px;
    font-size: 16px;
    line-height: 100%;
  }
}
