.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  margin: 0;
  background-color: #fcf5e5;
}
.footer__copyright {
  margin: 0;
  text-align: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: #212121;
  opacity: 0.7;
}
