.modal {
  visibility: hidden;
  background-color: #00000080;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  padding: 0 10px;
}

.modal_preview {
  padding: 0 16px;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s linear;
}

.modal__container {
  position: relative;
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__image-container {
  position: relative;
  align-self: center;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  position: absolute;
  left: 0;
  top: cal(100% + 10px);
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  max-width: 210px;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  text-align: center;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  opacity: 0.4;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__close-button_preview {
  position: absolute;
  top: 0px;
  right: -60px;
  opacity: 1;
}

.modal__close-button_preview:hover {
  opacity: 0.4;
}

.modal__title {
  max-width: 169px;
  font-size: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 100%;
  margin: 0;
  padding-top: 2px;
}

.modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  padding: 1px 0;
  margin-bottom: 8px;
  color: #212121b2;
}

.modal__input {
  border-radius: 8px;
  border: 1px #21212166 solid;
  padding: 16px 12px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__submit-button {
  max-width: 156px;
  width: 100%;
  padding: 18px 58px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  border: none;
  cursor: pointer;
}

.modal__submit-button:hover {
  background-color: #212121cc;
}

@media screen and (max-width: 480px) {
  .modal__container {
    max-width: 300px;
    padding: 12px;
    gap: 24px;
  }

  .modal__image-container {
    max-width: 300px;
    position: relative;
    align-self: center;
  }

  .modal .modal__title {
    font-size: 20px;
    padding: 10px 0;
  }

  .modal__close-button {
    top: 12px;
    right: 12px;
  }

  .modal__form {
    width: 100%;
  }

  .modal__input {
    margin-bottom: 24px;
    font-size: 12px;
  }

  .modal__input::placeholder {
    font-size: 16px;
  }

  .modal__submit-button {
    max-width: 300px;
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 627px) {
  .modal__close-button_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
    width: 100%;
  }
}
